.newsWrapper{
  padding:10px;
}

.newsCard{
  margin-top:20px;
  border-radius: 20px;
  padding:10px;
}

.newsCardImage {
  padding:10px;
  img {
    border-radius: 20px;
  }
}

.newsDesc{
  color: grey;
  font-style: italic;
  font-size: 1.2em;
}
.newsTitle{
  .title{
    font-size:1em;
  }
}
.newsContent{

}

.errorMessage{
  color:#d71838;
}